@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;600;700&display=swap");

* {
  font-family: Ubuntu !important;
}

html {
  scrollbar-width: thin;
  scrollbar-color: rgba(111, 65, 210, 0.2) #121212;
}

html::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

:root {
  font-family: Ubuntu !important;
  line-height: 1.5;
  font-weight: 400;
  transition: all ease-in-out 0.2s !important;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-width: 320px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
